<table class="row header">
  <tr>
    <td>
      <p class="lede">
        ¡Muchas gracias por contactarnos!
      </p>
      <p>
        Le contactaremos en breve!
      </p>
    </td>
    <td class="expander"></td>
  </tr>
</table>
