<div id="features">
  <div class="row" id="feature-title">
    <h2 class="feature-title">
      Características
    </h2>
  </div>
  <div class="row" id="feature-list">
    <div class="col-md-6 col-sm-12 feature">
      <h4 class="concept-subtitle">
        Concepto 1
      </h4>
      <p class="concept-text">
        Nam in vestibulum massa. Etiam suscipit faucibus nibh sed faucibus. Suspendisse ut sodales leo. Curabitur eget odio eget lectus sollicitudin malesuada a et massa. Donec a dolor convallis massa commodo.
      </p>
    </div>
    <div class="col-md-6 col-sm-12 feature">
      <h4 class="concept-subtitle">
        Concepto 2
      </h4>
      <p class="concept-text">
        Nam in vestibulum massa. Etiam suscipit faucibus nibh sed faucibus. Suspendisse ut sodales leo. Curabitur eget odio eget lectus sollicitudin malesuada a et massa. Donec a dolor convallis massa commodo.
      </p>
    </div>
    <div class="col-md-6 col-sm-12 feature">
      <h4 class="concept-subtitle">
        Concepto 3
      </h4>
      <p class="concept-text">
        Nam in vestibulum massa. Etiam suscipit faucibus nibh sed faucibus. Suspendisse ut sodales leo. Curabitur eget odio eget lectus sollicitudin malesuada a et massa. Donec a dolor convallis massa commodo.
      </p>
    </div>
    <div class="col-md-6 col-sm-12 feature">
      <h4 class="concept-subtitle">
        Concepto 4
      </h4>
      <p class="concept-text">
        Nam in vestibulum massa. Etiam suscipit faucibus nibh sed faucibus. Suspendisse ut sodales leo. Curabitur eget odio eget lectus sollicitudin malesuada a et massa. Donec a dolor convallis massa commodo.
      </p>
    </div>
    <div class="col-md-6 col-sm-12 feature">
      <h4 class="concept-subtitle">
        Concepto 5
      </h4>
      <p class="concept-text">
        Nam in vestibulum massa. Etiam suscipit faucibus nibh sed faucibus. Suspendisse ut sodales leo. Curabitur eget odio eget lectus sollicitudin malesuada a et massa. Donec a dolor convallis massa commodo.
      </p>
    </div>
    <div class="col-md-6 col-sm-12 feature">
      <h4 class="concept-subtitle">
        Concepto 6
      </h4>
      <p class="concept-text">
        Nam in vestibulum massa. Etiam suscipit faucibus nibh sed faucibus. Suspendisse ut sodales leo. Curabitur eget odio eget lectus sollicitudin malesuada a et massa. Donec a dolor convallis massa commodo.
      </p>
    </div>
  </div>
</div>
