<div class="other-models-products-container">
  <div class="other-models-title">
    <h2>
      Otros Productos
    </h2>
  </div>
  <% @size = @product.taxons.size %>
  <% @p_taxon = @product.taxons[@size - 2] %>
  <% @m_taxon = Spree::Taxon.find_by(name: @p_taxon.name) %>
  <% unless @m_taxon.blank? %>
  <% @f_products = @m_taxon.products %>
  <div id="products-other" class="row" data-hook>
    <div class="col-md-1 col-sm-1">

    </div>
    <%= render partial: 'spree/products/product', collection: @f_products, locals: { taxon: @m_taxon } %>
    <div class="col-md-1 col-sm-1">

    </div>
  </div>
  <% end %>
</div>
