<% if category.empty? %>
  <div class="col-md-3 col-sm-3">
    <div class="category category-element" id="category-<%= category.id %>">
      <div class="panel-panel-default">
        <div class="panel-body text-center category-body">
          <a href="">
            <img src="" alt="">
          </a>
        </div>
        <div class="category-name">
          <a href="">
            <%= category.name %>
          </a>
        </div>
      </div>
    </div>
  </div>
<% end %>
