<div id="about-container" class="row">
  <div class="col-md-6 col-lg-6 col-sm-12">
    <p><strong><span>Accesorios y Partes</span></strong>, es un catálogo que te ofrece una amplia gama de productos de Tecnología y Diseño. Surge como idea en 2005, cuando nuestra Empresa INTELHOME, cumplía 13 años. Fue pensado con el objetivo de reunir en un mismo Sitio, todas las soluciones que durante ese tiempo habíamos incorporado para nuestro trabajo. Accesorios y Partes se crea para dar a nuestros clientes una plataforma on line, ágil, de condiciones comerciales transparentes, con precios claros y amplia información sobre cada producto. Todos los artículos que encontrarás en el portal son utilizados en nuestras propias instalaciones, son de primeras marcas, de origen comprobado, con garantía legal, y con un representante oficial que los avala. </p>
  </div>
  <div class="col-md-6 col-lg-6 col-sm-12">
    <p>Nuestro Catálogo web no es un clásico e-comerce, en donde el usuario encuentra un artículo de su interés, y sin mediar consulta debe comprometer sus datos... Por el contrarío, <em>Accesorios y partes</em> está diseñado para asistirte en todo momento. Encontrarás nuestros teléfonos siempre a la vista, y a nosotros atentos para ofrecerte el mejor asesoramiento sobre cada producto publicado. En <strong>Accesorios y Partes</strong>, contás  con un responsable especializado capaz de brindarle toda la información que necesitas, para tomar la mejor decisión de compra, e incluso soluciones alternativas. En 2018, renovamos el Sitio, e incorporamos nuevas herramientas, artículos, información, etc. pero mantenemos siempre a la vista nuestros datos y un persona del otro lado del teléfono, esperando tu consulta.</p>
  </div>
</div>
