<div class="clients-container container-fluid">
  <div class="clients-slider">
    <div class="client" id="client-1" style="width: 174.5px !important">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/monsanto.jpg" alt="" class="client-img" id="client-logo-1">
    </div>
    <div class="client" id="client-2" style="width: 284.5px !important">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/presidencia.jpg" alt="" class="client-img" id="client-logo-2">
    </div>
    <div class="client" id="client-3" style="width: 105.8px !important">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/trenes.jpg" alt="" class="client-img" id="client-logo-3">
    </div>
    <div class="client" id="client-4" style="width: 121px !important">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/alcatel.jpg" alt="" class="client-img" id="client-logo-4">
    </div>
    <div class="client" id="client-5" style="width: 50px !important">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/amex.jpg" alt="" class="client-img" id="client-logo-5">
    </div>
    <div class="client" id="client-6" style="width: 50px !important">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/bk.jpg" alt="" class="client-img" id="client-logo-6">
    </div>
    <div class="client" id="client-7" style="width: 77px !important">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/coto.jpg" alt="" class="client-img" id="client-logo-7">
    </div>
    <div class="client" id="client-8" style="width: 132.5px !important">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/gcba.jpg" alt="" class="client-img" id="client-logo-8">
    </div>
    <div class="client" id="client-9" style="width: 119.5px !important">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/kosiuko.jpg" alt="" class="client-img" id="client-logo-9">
    </div>
    <div class="client" id="client-10" style="width: 50px !important">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/kws.jpg" alt="" class="client-img" id="client-logo-10">
    </div>
    <div class="client" id="client-11" style="width: 50px !important">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/starbucks.jpg" alt="" class="client-img" id="client-logo-11">
    </div>
    <div class="client" id="client-12" style="width: 79.5px !important">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/bago.jpg" alt="" class="client-img" id="client-logo-12">
    </div>
    <div class="client" id="client-13" style="width: 126px !important">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/brinks.jpg" alt="" class="client-img" id="client-logo-13">
    </div>
    <div class="client" id="client-14" style="width: 66.5px !important">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/carrefour.jpg" alt="" class="client-img" id="client-logo-14">
    </div>
    <div class="client" id="client-15" style="width: 44.5px !important">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/cnea.jpg" alt="" class="client-img" id="client-logo-15">
    </div>
    <div class="client" id="client-16" style="width: 50px !important">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/coppel.jpg" alt="" class="client-img" id="client-logo-16">
    </div>
    <div class="client" id="client-17" style="width: 126.5px !important">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/cs.jpg" alt="" class="client-img" id="client-logo-17">
    </div>
    <div class="client" id="client-18" style="width: 90px !important">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/dema.jpg" alt="" class="client-img" id="client-logo-18">
    </div>
    <div class="client" id="client-19" style="width: 88px !important">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/faena.jpg" alt="" class="client-img" id="client-logo-19">
    </div>
    <div class="client" id="client-20" style="width: 101px !important">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/femsa.jpg" alt="" class="client-img" id="client-logo-20">
    </div>
    <div class="client" id="client-21" style="width: 68.5px !important">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/hi.jpg" alt="" class="client-img" id="client-logo-21">
    </div>
    <div class="client" id="client-22" style="width: 105px !important">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/incaa.jpg" alt="" class="client-img" id="client-logo-22">
    </div>
    <div class="client" id="client-23" style="width: 167.5px !important">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/michelin.jpg" alt="" class="client-img" id="client-logo-23">
    </div>
    <div class="client" id="client-24" style="width: 64px !important">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/more.jpg" alt="" class="client-img" id="client-logo-24">
    </div>
    <div class="client" id="client-25" style="width: 88.5px !important">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/pan.jpg" alt="" class="client-img" id="client-logo-25">
    </div>
    <div class="client" id="client-26" style="width: 126px !important">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/rubinat.jpg" alt="" class="client-img" id="client-logo-26">
    </div>
    <div class="client" id="client-27" style="width: 103px !important">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/sanmartin.jpg" alt="" class="client-img" id="client-logo-27">
    </div>
    <div class="client" id="client-28" style="width: 52.5px !important">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/senado.jpg" alt="" class="client-img" id="client-logo-28">
    </div>
    <div class="client" id="client-29" style="width: 86.5px !important">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/uca.jpg" alt="" class="client-img" id="client-logo-29">
    </div>
    <div class="client" id="client-30" style="width: 101px !important">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/um.jpg" alt="" class="client-img" id="client-logo-30">
    </div>
    <div class="client" id="client-31" style="width: 97px !important">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/usm.jpg" alt="" class="client-img" id="client-logo-31">
    </div>
    <div class="client" id="client-32" style="width: 97.5px !important">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/viu.jpg" alt="" class="client-img" id="client-logo-32">
    </div>
  </div>
  <div class="clients-title">
    <h2>
      NUESTROS CLIENTES
    </h2>
  </div>
</div>
