<div class="clients-slider container-fluid">
  <div class="row clients">
    <div class="col-sm-2 col-md-2 col-xs-2 client">
      <div class="client-container">
        <img class="client-img" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/monsanto.jpg" alt="">
      </div>
    </div>
    <div class="col-sm-2 col-md-2 col-xs-2 client">
      <div class="client-container">
        <img class="client-img" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/monsanto.jpg" alt="">
      </div>
    </div>
    <div class="col-sm-2 col-md-2 col-xs-2 client">
      <div class="client-container">
        <img class="client-img" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/monsanto.jpg" alt="">
      </div>
    </div>
    <div class="col-sm-2 col-md-2 col-xs-2 client">
      <div class="client-container">
        <img class="client-img" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/monsanto.jpg" alt="">
      </div>
    </div>
    <div class="col-sm-2 col-md-2 col-xs-2 client">
      <div class="client-container">
        <img class="client-img" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/monsanto.jpg" alt="">
      </div>
    </div>
    <div class="col-sm-2 col-md-2 col-xs-2 client">
      <div class="client-container">
        <img class="client-img" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/monsanto.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="clients-title">
    <h2>
      NUESTROS CLIENTES
    </h2>
  </div>
</div>
