<div class="collage-container container-fluid">
  <div class="collage-subcontainer-main">
    <div class="collage-link-container" id="cat-uno">
      <a class="collage-link" href="http://accesoriosypartes.com.ar/sillas-de-oficina">
        Sillas de oficina
      </a>
      <!-- <img class="collage-img" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/cat_uno.jpg" alt=""> -->
      <%= image_tag("Sillas de oficina.jpg") %>
    </div>
    <div class="row collage-image-row">
      <div class="collage-link-container" id="cat-dos">
        <a class="collage-link" href="http://accesoriosypartes.com.ar/salas-multimedia">
          Salas multimedia
        </a>
        <img class="collage-img" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/cat_dos.jpg" alt="">
      </div>
    </div>
    <div class="collage-link-container" id="cat-tres">
      <a class="collage-link" href="http://accesoriosypartes.com.ar/diseno-interior">
        Diseño interior
      </a>
      <img class="collage-img" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/cat_tres.jpg" alt="">
    </div>
    <div class="collage-link-container" id="cat-cuatro">
      <a class="collage-link" href="http://accesoriosypartes.com.ar/audio-y-video">
        Audio y video
      </a>
      <img class="collage-img" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/cat_cuatro.jpg" alt="">
    </div>
    <div class="collage-link-container" id="cat-cinco">
      <a class="collage-link" href="http://accesoriosypartes.com.ar/control-de-acceso">
        Control de acceso
      </a>
      <img class="collage-img" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/cat_cinco.jpg" alt="">
    </div>
    <div class="collage-link-container" id="cat-seis">
      <a class="collage-link" href="http://accesoriosypartes.com.ar/muebles-de-oficina">
        Muebles de oficina
      </a>
      <img class="collage-img" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/cat_seis.png" alt="">
    </div>
    <div class="collage-link-container" id="cat-siete">
      <a class="collage-link" href="http://accesoriosypartes.com.ar/casas-inteligentes">
        Casas inteligentes
      </a>
      <img class="collage-img" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/cat_siete.jpg" alt="">
    </div>

  </div>
</div>
