<div class="collage-container container-fluid">
  <div class="row collage-rows">
    <div class="col-md-3 col-sm-3 col-xs-3 collage-column">
      <div class="row collage-image-row">
        <div class="collage-link-container">
          <a class="collage-link" href="#">
            <img class="collage-img" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/cat_uno.jpg" alt="">
          </a>
        </div>
      </div>
      <div class="row collage-image-row">
        <div class="collage-link-container">
          <a class="collage-link" href="#">
            <img class="collage-img" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/cat_dos.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4 collage-column">
      <div class="row collage-image-row">
        <div class="collage-link-container">
          <a class="collage-link" href="#">
            <img class="collage-img" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/cat_tres.jpg" alt="">
          </a>
        </div>
      </div>
      <div class="row collage-image-row">
        <div class="collage-link-container">
          <a class="collage-link" href="#">
            <img class="collage-img" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/cat_cuatro.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2 collage-column">
      <div class="row collage-image-row">
        <div class="collage-link-container">
          <a class="collage-link" href="#">
            <img class="collage-img" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/cat_cinco.jpg" alt="">
          </a>
        </div>
      </div>
      <div class="row collage-image-row">
        <div class="collage-link-container">
          <a class="collage-link" href="#">
            <img class="collage-img" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/cat_seis.png" alt="">
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 collage-column">
      <div class="row collage-image-row">
        <div class="collage-link-container">
          <a class="collage-link" href="#">
            <img class="collage-img" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/cat_siete.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
