<div class="companies-slider">
  <div class="companies-conveyor container">
    <div class="company">
      <img class="company-img" id="logo-1" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/a2.jpg" alt="">
    </div>
    <div class="company">
      <img class="company-img" id="logo-2" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/samsung.jpg" alt="">
    </div>
    <div class="company">
      <img class="company-img" id="logo-3" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/flos.jpg" alt="">
    </div>
    <div class="company">
      <img class="company-img" id="logo-4" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/lutron.jpg" alt="">
    </div>
    <div class="company">
      <img class="company-img" id="logo-5" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/riel.jpg" alt="">
    </div>
    <div class="company">
      <img class="company-img" id="logo-6" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/maico.jpg" alt="">
    </div>
    <div class="company">
      <img class="company-img" id="logo-7" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/intelhome.jpg" alt="">
    </div>
    <div class="company">
      <img class="company-img" id="logo-8" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/tubo.jpg" alt="">
    </div>
    <div class="company">
      <img class="company-img" id="logo-9" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/vimar.jpg" alt="">
    </div>
    <div class="company">
      <img class="company-img" id="logo-10" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/yamaha.jpg" alt="">
    </div>
  </div>
  <div class="companies-slider-sub container">
    <div class="company">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/iclebo.jpg" alt="" id="sub-logo-1" class="company-img-sub">
    </div>
    <div class="company">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/dahua.jpg" alt="" id="sub-logo-2" class="company-img-sub">
    </div>
    <div class="company">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/domus.jpg" alt="" id="sub-logo-3" class="company-img-sub">
    </div>
    <div class="company">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/ritello.jpg" alt="" id="sub-logo-4" class="company-img-sub">
    </div>
    <div class="company">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/epson.jpg" alt="" id="sub-logo-5" class="company-img-sub">
    </div>
    <div class="company">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/zk.jpg" alt="" id="sub-logo-6" class="company-img-sub">
    </div>
    <div class="company">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/elicent.jpg" alt="" id="sub-logo-7" class="company-img-sub">
    </div>
    <div class="company">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/dynair.jpg" alt="" id="sub-logo-8" class="company-img-sub">
    </div>
    <div class="company">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/dumont.jpg" alt="" id="sub-logo-9" class="company-img-sub">
    </div>
    <div class="company">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/aertecnica.jpg" alt="" id="sub-logo-10" class="company-img-sub">
    </div>
    <div class="company">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/vroom.jpg" alt="" id="sub-logo-11" class="company-img-sub">
    </div>
    <div class="company">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/bw.jpg" alt="" id="sub-logo-12" class="company-img-sub">
    </div>
    <div class="company">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/bose.jpg" alt="" id="sub-logo-13" class="company-img-sub">
    </div>
    <div class="company">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/ma.jpg" alt="" id="sub-logo-14" class="company-img-sub">
    </div>
    <div class="company">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/dali.png" alt="" id="sub-logo-15" class="company-img-sub">
    </div>
    <div class="company">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/jbl.jpg" alt="" id="sub-logo-16" class="company-img-sub">
    </div>
    <div class="company">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/infinity.jpg" alt="" id="sub-logo-17" class="company-img-sub">
    </div>
    <div class="company">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/denon.jpg" alt="" id="sub-logo-18" class="company-img-sub">
    </div>
    <div class="company">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/onkio.jpg" alt="" id="sub-logo-19" class="company-img-sub">
    </div>
    <div class="company">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/shure.jpg" alt="" id="sub-logo-20" class="company-img-sub">
    </div>
    <div class="company">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/sonos.jpg" alt="" id="sub-logo-21" class="company-img-sub">
    </div>
    <div class="company">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/i3.jpg" alt="" id="sub-logo-22" class="company-img-sub">
    </div>
    <div class="company">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/kramer.jpg" alt="" id="sub-logo-23" class="company-img-sub">
    </div>
    <div class="company">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/logitech.jpg" alt="" id="sub-logo-24" class="company-img-sub">
    </div>
    <div class="company">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/touchone.jpg" alt="" id="sub-logo-25" class="company-img-sub">
    </div>
    <div class="company">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/polycom.jpg" alt="" id="sub-logo-26" class="company-img-sub">
    </div>
    <div class="company">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/jabra.jpg" alt="" id="sub-logo-27" class="company-img-sub">
    </div>
    <div class="company">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/portantino.jpg" alt="" id="sub-logo-28" class="company-img-sub">
    </div>
    <div class="company">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/interstuhl.jpg" alt="" id="sub-logo-29" class="company-img-sub">
    </div>
    <div class="company">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/actiu.jpg" alt="" id="sub-logo-30" class="company-img-sub">
    </div>
    <div class="company">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/iclebo.jpg" alt="" class="company-img-sub">
    </div>
    <div class="company">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/dahua.jpg" alt="" class="company-img-sub">
    </div>
    <div class="company">
      <img src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/domus.jpg" alt="" class="company-img-sub">
    </div>
    <!-- <div class="company">
    <img src="" alt="" class="company-img-sub">
    </div>
    <div class="company">
    <img src="" alt="" class="company-img-sub">
    </div>
    <div class="company">
    <img src="" alt="" class="company-img-sub">
    </div>
    <div class="company">
    <img src="" alt="" class="company-img-sub">
    </div>
    <div class="company">
    <img src="" alt="" class="company-img-sub">
    </div>
    <div class="company">
    <img src="" alt="" class="company-img-sub">
    </div>
    <div class="company">
    <img src="" alt="" class="company-img-sub">
    </div> -->
  </div>
</div>
