<div class="companies-slider">
  <div class="row companies">
    <div class="col-sm-2 col-md-2 col-xs-2 company">
      <div class="company-container">
        <img class="company-img" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/intelhome.jpg" alt="">
      </div>
    </div>
    <div class="col-sm-2 col-md-2 col-xs-2 company">
      <div class="company-container">
        <img class="company-img" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/intelhome.jpg" alt="">
      </div>
    </div>
    <div class="col-sm-2 col-md-2 col-xs-2 company">
      <div class="company-container">
        <img class="company-img" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/intelhome.jpg" alt="">
      </div>
    </div>
    <div class="col-sm-2 col-md-2 col-xs-2 company">
      <div class="company-container">
        <img class="company-img" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/intelhome.jpg" alt="">
      </div>
    </div>
    <div class="col-sm-2 col-md-2 col-xs-2 company">
      <div class="company-container">
        <img class="company-img" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/intelhome.jpg" alt="">
      </div>
    </div>
    <div class="col-sm-2 col-md-2 col-xs-2 company">
      <div class="company-container">
        <img class="company-img" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/intelhome.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="row companies">
    <div class="col-sm-1 col-md-1 col-xs-1 company-sub">
      <div class="company-container">
        <img class="company-img-sub" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/iclebo.jpg" alt="">
      </div>
    </div>
    <div class="col-sm-1 col-md-1 col-xs-1 company-sub">
      <div class="company-container">
        <img class="company-img-sub" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/iclebo.jpg" alt="">
      </div>
    </div>
    <div class="col-sm-1 col-md-1 col-xs-1 company-sub">
      <div class="company-container">
        <img class="company-img-sub" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/iclebo.jpg" alt="">
      </div>
    </div>
    <div class="col-sm-1 col-md-1 col-xs-1 company-sub">
      <div class="company-container">
        <img class="company-img-sub" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/iclebo.jpg" alt="">
      </div>
    </div>
    <div class="col-sm-1 col-md-1 col-xs-1 company-sub">
      <div class="company-container">
        <img class="company-img-sub" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/iclebo.jpg" alt="">
      </div>
    </div>
    <div class="col-sm-1 col-md-1 col-xs-1 company-sub">
      <div class="company-container">
        <img class="company-img-sub" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/iclebo.jpg" alt="">
      </div>
    </div>
    <div class="col-sm-1 col-md-1 col-xs-1 company-sub">
      <div class="company-container">
        <img class="company-img-sub" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/iclebo.jpg" alt="">
      </div>
    </div>
    <div class="col-sm-1 col-md-1 col-xs-1 company-sub">
      <div class="company-container">
        <img class="company-img-sub" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/iclebo.jpg" alt="">
      </div>
    </div>
    <div class="col-sm-1 col-md-1 col-xs-1 company-sub">
      <div class="company-container">
        <img class="company-img-sub" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/iclebo.jpg" alt="">
      </div>
    </div>
    <div class="col-sm-1 col-md-1 col-xs-1 company-sub">
      <div class="company-container">
        <img class="company-img-sub" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/iclebo.jpg" alt="">
      </div>
    </div>
    <div class="col-sm-1 col-md-1 col-xs-1 company-sub">
      <div class="company-container">
        <img class="company-img-sub" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/iclebo.jpg" alt="">
      </div>
    </div>
    <div class="col-sm-1 col-md-1 col-xs-1 company-sub">
      <div class="company-container">
        <img class="company-img-sub" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/iclebo.jpg" alt="">
      </div>
    </div>
  </div>
</div>
