<div id="footer-container" class="row">
  <div id="footer-1" class="footer-subcontainer col-md-3 col-lg-3 col-sm-6">
    <h4 class="footer-title">
      TEMAS
    </h4>
    <div class="pages">
      <ul>
        <li>Términos comerciales y legales</li>
        <li>Nuestra empresa</li>
        <li>Mapa del sitio</li>
        <li>Productos</li>
        <li>Blog</li>
        <li>Clientes reconocidos</li>
      </ul>
    </div>
  </div>
  <div id="footer-2" class="footer-subcontainer col-md-2 col-lg-2 col-sm-6">
    <h4 class="footer-title">
      CATEGORÍAS
    </h4>
    <div class="pages">
      <ul>
        <li>Audio y video</li>
        <li>Domótica y control</li>
        <li>Control de acceso</li>
        <li>Muebles y sillas</li>
        <li>Diseño de interior</li>
        <li>Instalaciones</li>
        <li>Accesorios</li>
      </ul>
    </div>
  </div>
  <div id="footer-3" class="footer-subcontainer col-md-4 col-lg-4 col-sm-6">
    <h4 class="footer-title">
      ACERCA DE NOSOTROS
    </h4>
    <div class="">
      <img id="footer-logo" src="https://www.accesoriosypartes.com.ar/wp-content/themes/Divi/epanel/shortcodes/img/logo.png" alt="">
      <p class="about-us-text">
        Somos parte de <a href="#">INTELHOME</a>, desde 1992 pioneros en el desarrollo de la Domótica en Argentina
      </p>
      <a class="btn btn-default" href="#" role="button">Conócenos</a>
    </div>
  </div>
  <div id="footer-4" class="footer-subcontainer col-md-3 col-lg-3 col-sm-6">
    <h4 class="footer-title">
      CONTACTO
    </h4>
    <div class="">
      <p>
        <span>Tel:</span> 0810-444-3666 4854-4473 / 4871-3666
      </p>
      <p>
        <span>Dir:</span> Luis María Drago 148. Ciudad Autónoma de Buenos Aires
      </p>
      <p>
        <span>E-mail:</span> info@accesoriosypartes.com.ar
      </p>
      <div class="row">
        <div class="col-md-2 col-lg-2">
          <img src="" alt="">
        </div>
        <div class="col-md-2 col-lg-2">
          <img src="" alt="">
        </div>
        <div class="col-md-2 col-lg-2">
          <img src="" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
