<div id="footer-container" class="row">
  <div id="footer-1" class="footer-subcontainer col-md-3 col-lg-3 col-sm-3">
    <h4 class="footer-title">
      TEMAS
    </h4>
    <div class="pages">
      <ul>
        <li>
          <a href="#">
            Términos comerciales y legales
          </a>
        </li>
        <li>
          <a href="#">
            Nuestra empresa
          </a>
        </li>
        <li>
          <a href="#">
            Mapa del sitio
          </a>
        </li>
        <li>
          <a href="#">
            Productos
          </a>
        </li>
        <li>
          <a href="#">
            Blog
          </a>
        </li>
        <li>
          <a href="#">
            Clientes reconocidos
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div id="footer-2" class="footer-subcontainer col-md-2 col-lg-2 col-sm-3">
    <h4 class="footer-title">
      CATEGORÍAS
    </h4>
    <div class="pages">
      <ul>
        <% main_taxon = Spree::Taxon.find_by(name: "Categorias") %>
        <% unless main_taxon.blank? %>
          <% main_taxon.children.map do |t| %>
            <%= content_tag :li, class: 'footer-link' do %>
              <%= link_to(t.name, seo_url(t)) %>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div id="footer-3" class="footer-subcontainer col-md-4 col-lg-4 col-sm-3">
    <h4 class="footer-title">
      ACERCA DE NOSOTROS
    </h4>
    <div class="">
      <%= logo %>
      <p class="about-us-text">
        Somos parte de <a href="#">INTELHOME</a>, desde 1992 pioneros en el desarrollo de la Domótica en Argentina
      </p>
      <a class="btn btn-default" href="#" role="button">Conócenos</a>
    </div>
  </div>
  <div id="footer-4" class="footer-subcontainer col-md-3 col-lg-3 col-sm-3">
    <h4 class="footer-title">
      CONTACTO
    </h4>
    <div class="">
      <p>
        <span>Tel:</span> 0810-444-3666 4854-4473 / 4871-3666
      </p>
      <p>
        <span>Dir:</span> Luis María Drago 148. Ciudad Autónoma de Buenos Aires
      </p>
      <p>
        <span>E-mail:</span> info@accesoriosypartes.com.ar
      </p>
      <div class="row">
        <div class="col-md-2 col-lg-2">
          <a href="" class="social-link" id="youtube-link">
            <div class="social">
              <i class="fa fa-youtube" aria-hidden="true"></i>
            </div>
          </a>
          <!-- <img src="" alt=""> -->
        </div>
        <div class="col-md-2 col-lg-2">
          <a href="" class="social-link" id="facebook-link">
            <div class="social">
              <i class="fa fa-facebook-f" aria-hidden="true"></i>
            </div>
          </a>
          <!-- <img src="" alt=""> -->
        </div>
        <div class="col-md-2 col-lg-2">
          <a href="" class="social-link" id="rss-link">
            <div class="social">
              <i class="fa fa-rss" aria-hidden="true"></i>
            </div>
          </a>
          <!-- <img src="" alt=""> -->
        </div>
        <div class="col-md-2 col-lg-2">
          <a href="" class="social-link" id="instagram-link">
            <div class="social">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </div>
          </a>
          <!-- <img src="" alt=""> -->
        </div>
      </div>
    </div>
  </div>
</div>
