<div id="spree-header">
  <header id="header" data-hook>
    <div id="phone-fixed">
      TEL: 0810-444-3666 / 4854-4473 / 4871-3666 Capital Federal y Tigre, Nordelta
    </div>
    <div class="container-fluid header-container" id="image-logo-menu">
      <div class="row" >
        <figure id="logo" class="col-md-7 col-sm-7" data-hook>
          <%= logo %>
        </figure>
        <div class="col-md-4 col-sm-4 contact-info-container">
          <div>
            <p class="contact-info-header">
              TEL: <span class="phone-number">0810-444-3666</span> <br>
              <span class="phone-number-2nd">4854-4473 / 4871-3666</span> <br>
              <span class="address">Capital Federal y Tigre, Nordelta</span>
            </p>
          </div>
        </div>
        <%#= render partial: 'spree/shared/nav_bar' %>
      </div>
    </div>
    <div class="container-fluid header-container">
      <%= render partial: 'spree/shared/main_nav_bar' %>
    </div>
  </header>
</div>
