<% @taxons = @taxon && @taxon.parent ? @taxon.parent.children : Spree::Taxon.roots %>
<%= form_tag spree.products_path, method: :get, class: "navbar-form" do %>
  <!-- <div class="form-group"> -->
    <%# cache [I18n.locale, @taxons] do %>
      <%#= select_tag :taxon,
            options_for_select([[Spree.t(:all_departments), '']] +
                                  @taxons.map {|t| [t.name, t.id]},
                                  @taxon ? @taxon.id : params[:taxon]), 'aria-label' => 'Taxon', class: "form-control" %>
    <%# end %>
  <!-- </div> -->
  <%# search_field_tag :keywords, params[:keywords], placeholder: Spree.t(:search), class: "search-field" %>
  <%= search_field_tag :keywords, params[:keywords], placeholder: "Buscar...", class: "search-field"%>
  <button class="search-button">
    <span class="glyphicon glyphicon-search">
    </span>
  </button>
  <!-- <div class="form-group search-field">
  </div> -->
  <%= submit_tag Spree.t(:search), id: "search-button",name: nil, class: "btn btn-success" %>
<% end %>
<div class="search-result" id="search-result">

</div>

<script type="text/javascript">
  window.addEventListener('DOMContentLoaded', function() {
    let search = $("#keywords");
    let search_area = document.getElementById("search-result");
    // search.keypress(function() {
    //   if ($(this).val().length >= 3) {
    //     console.log("POTATO " + $(this).val());
    //     let url = "/api/v1/products?q[name_count]=" + $(this).val();
    //     $.ajax({
    //       url: url,
    //       headers: {
    //         "X-Spree-Token": "8452ef7de7ab9cfe527d23907920d8e89a0c46bdb93f6cf7"
    //       }
    //     }).done(function(data){
    //       // console.log("DATA " + JSON.stringify(data));
    //       search_area.innerHTML = "";
    //       let response = data["products"];
    //       response.forEach(function(elem) {
    //         console.log("ELEMENT " + JSON.stringify(elem));
    //         let cont = document.createElement("div");
    //         let link = document.createElement("a");
    //         // link.href =
    //         search_area.classList.add('filled');
    //         let node = document.createTextNode(elem["name"]);
    //         search_area.appendChild(node);
    //         // $("#search-result").html(
    //           // document.getElementById("search-result").innerHTML = elem["name"] + "BUSQUEDA";
    //         // )
    //       });
    //     }).fail(function(data){
    //
    //     });
    //     // $.get({
    //     //   url: "/api/v1/products?q[name_count]",
    //     //   data: $(this).val(),
    //     // })
    //   }
    // });
  });
</script>
